div#admin{
    width: 100%;
    max-width: 900px;
    background: #C4C4C4;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

div#admin .paragrafo{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

div#admin button{
     width: 100%;
     max-width: 900px;
     text-align: center;
     font-family: Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
     color: #FFF9F9;
     background-color: black;
     cursor: pointer;
}
div#admin button{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    background-color: black;
    margin-bottom: 16px;
    margin-top:16px
}

div#admin a{
    display: flex;
    justify-content: center;
    background-color: red;
    color:black;
    font-size:15px;
    height: 20px;
    margin-bottom: 16px;
    margin-top:16px;
    text-decoration:none;
}